fastapi==0.126.0
uvicorn==0.38.0

streamlit==1.52.2
streamlit-folium==0.25.3

requests==2.32.3

numpy==2.1.2
pandas==2.2.3

scikit-learn==1.7.2
xgboost==3.1.2

joblib==1.5.3


shapely==2.1.0


earthengine-api==1.4.5

folium==0.19.2
branca==0.8.1

pydantic==2.12.5
